<section id="authBlock">
  <article class="col-md-4 mx-auto bg-white card my-2">
    <div class="card-body">
      <h2
        class="h2 font-weight-bold text-secondary text-center text-uppercase py-2"
      >Register</h2>
      <form action="/auth/register" method="post">

        <div class="form-group font-weight-bold">
          <label for="username">username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder=" enter username"
            class="form-control"
          />
        </div>

        <div class="form-group font-weight-bold">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            class="form-control"
            placeholder="enter email"
          />
        </div>

        <div class="form-group font-weight-bold">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="enter password"
            class="form-control"
          />
        </div>

        <div class="form-group font-weight-bold">
          <label for="confirmPassword">ConfirmPassword</label>
          <input
            type="password"
            name="password1"
            id="confirmPassword"
            placeholder="enter confirm password"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <button
            type="Submit"
            class="btn btn-primary btn-block my-2"
          >Register</button>

          <span class="text center mt-2">
            <a href="/auth/login" >Already Registered. Login
              Here</a>
          </span>

        </div>

      </form>
    </div>
  </article>
</section>